
*{
    box-sizing: border-box;
}


body{
    background-color: black;
}


.gameContainer{
    display              : grid;
    width                : 50vw;
    grid-template-columns: auto auto auto;
    grid-template-rows   : 20vh 20vh 20vh;
    background-color     : grey;
    position             : absolute;
    left                 : 25%;
    top                  : 30%;
}


.gameContainer > div {
    border: 2px solid white; 
}


.human, .computer{
    width: 120px;
}

.players{
    display : flex;
    position: absolute;
    bottom  : 10%;
}

.human > #label1{
    color      : white;
    text-align : center;
}


.human > img{
    padding-top: 5px;
    height     : 18vh;
    width      : 120px;
    object-fit : contain;
}


.computer > #label2{
    color      : white;
    text-align : center;
}

.computer > img{
    padding-top: 5px;
    height     : 18vh;
    width      : 120px;
    object-fit : contain;
}

#display{
    background-color: white;
    width           : 200px;
    height          : 200px;   
    position        : absolute;
    top             : 30%;
    border-style    : inset;
    margin-left     : 40px;
}

#start{
    color      : black;
    font-weight: bold;
}

#reset{
    color      : black;
    font-weight: bold;
}

.controls{
    display        : flex;
    justify-content: center;
    gap            : 5px;
    margin-top     : 50px;
}

#start:hover{
    background-color: blue;
    color           : white;
}

#reset:hover{
    background-color: blue;
    color           : white;
}

h1{
    color     : white;
    text-align: center;
}

#reset:hover{
    background-color: blue;
    color           : white;
}

h1{
    color: white;
    text-align: center;
    margin-top: 40px;
}

.human > #label1{
    color: blue;
}

.computer > #label2{
    color: red;
}


 


