
*{
    box-sizing: border-box;
}


body{
    background-color: black;
}


.gameContainer{
    display: grid;
    width: 50vw;
    grid-template-columns: auto auto auto;
    grid-template-rows: 140px 140px 140px;
    background-color: grey;
    position: absolute;
    left: 25%;
    top: 30%;
}


.gameContainer > div {
    border: 2px solid white; 
}


.human, .computer{
    width: 120px;
}

.computer{
    position: absolute;
    bottom  : 40px;
    right   : 450px;
}
.human{
    position: absolute;
    bottom  : 40px;
    left    : 450px;
}


.human > #label1{
    color      : white;
    text-align : center;
}


.human > img{
    padding-top: 5px;
    height     : 120px;
    width      : 120px;
    object-fit : contain;
}


.computer > #label2{
    color      : white;
    text-align : center;
}


.computer > img{
    padding-top: 5px;
    height     : 120px;
    width      : 120px;
    object-fit : contain;
}

#display{
    background-color: white;
    width           : 200px;
    height          : 200px;   
    position        : absolute;
    top             : 45%;
    bottom          : 55%;
    border-style    : inset;
    margin-left     : 10px;
}

#start{
    color      : black;
    font-weight: bold;
    position   : absolute;
    top        : 40%;
    margin-left: 40px;

}

#reset{
    color      : black;
    font-weight: bold;
    position   : absolute;
    left       : 125px;
    top        : 40%;
}

h1{
    color: white;
    text-align: center;
    margin-top: 40px;
}
 


